*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui ;
}
.container{
    background-image: url("https://images.unsplash.com/photo-1496823407868-80f47c7453b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1213&q=80");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

img.img_logo {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_container {
    display: flex;
    justify-content: space-between;
}
.header_right {
    display: flex;
    margin-right: 20px;
}
.header_item {
    margin-left: 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 15px;
    color: #fff;
}

a.header_link {
    text-decoration: none;
    color: #fff;
}
/* abt us  */
.about_us_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.7;
}
span.aboutUs_text {
    margin: 10px;
    line-height: 2;
    font-size: 18px;
}
.fa, .fas {
    font-weight: 900;
    color: white;
}

h1.abt_header {
    margin-bottom: 15px;
    text-decoration: overline;
    font-weight: 300;
}
img.about_us_right_img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.about_us_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img.about_us_right_img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    cursor: pointer;
}
form {
    margin: 20px;
}
.form_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input.feedback_input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    padding: 10px;
    background: none;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-top: 3px;
    color: #fff;
}
input.feedback_btn {
    width: 75px;
    height: 40px;
    border-radius: 50;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
    justify-content: center;
}
input.feedback_btn:hover{
    color: #fff;
    background-color: #000;
}
.feedback_input_container {
    flex: 0.7;
}

.bg-overlay {
    width: 100vw;
    height: 100vh;
  
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(0,0,0,.40);
}

.about_us_left {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .about_us_container {
        flex-direction: column !important;
    }

    img.about_us_right_img {
        height: 250px;
        margin-top: 20px;
    }
    span {
        font-size: 13px;
    }
}

h1.feedback_title_header {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: overline;
    font-weight: 400;
    margin: 30px;
}

.feedback-text {
    margin: 10px 5px;
    color: white;
}

.feedback-items {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.feedback-items {
    /* width: 75%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}